.color.editor.background {
  background-color: #272822;
}

.color.editor.foreground {
  color: #F8F8F2;
}

.color.boolean {
  color: #AE81FF;
}

.color.keyword {
  color: #F92672;
  font-weight: bold;
}

.color.number {
  color: #AE81FF;
}

.color.function {
  color: #A6E22E;
}

.color.cursor {
  background-color: #293739;
}

.color.gutter.background {
  background-color: #3B3A32;
  border-color: #BCBCBC;
}

.color.gutter.foreground {
  color: #BCBCBC;
}

.color.string {
  color: #E6DB74;
}

.color.gutter li.cursor {
  color: #FD971F;
}

.color.identifier {
  color: #FD971F;
}

.color.comment,
.color.comment * {
  color: #75715E;
}

.color.selected {
  background-color: #293739;
  color: #F8F8F2;
}

.color.preview {
  
}
